@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* @layer base{
	html {
		font-family: "Plus Jakarta Sans", san-serif;
	}
} */


@layer components{
    .hero{
        background-image: url("./img/network.jpg");
		background-repeat: no-repeat;
	    min-height: 200px;
		position: relative;
		/* background-position: center; */
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.6);
		background-blend-mode: multiply;
		z-index: -1;
    }

	.pro{
        background-image: url("./img/hero.jpg");
		background-repeat: no-repeat;
	    min-height: 1000px;
		position: relative;
		background-position: center;
		background-size: cover;
		/* background-attachment: fixed; */
		/* background-color: rgba(0, 0, 0, 0.7);
		background-blend-mode: multiply; */
    }

	/* .pro{
        background-image: url("./img/izzy3.jpg");
		background-repeat: no-repeat;
	    min-height: 800px;
		position: relative;
		background-position: left;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.7);
		background-blend-mode: multiply;
    } */

	.port{
        background-image: url("./img/port1.jpg"); 
		background-repeat: no-repeat;
	    min-height: 500px;
		position: relative;
		background-position: center;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.3);
		background-blend-mode: multiply;
		/* z-index: -1; */
    }

	.active-tabs{
		background-color: #FBAD30;
		border-radius: 100px;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 16px;
		padding-bottom: 16px;
		font-weight: 500;
		font-size: 16px;
	}

	.tab{
		padding-left: 16px;
		padding-right: 16px;
		font-weight: 500;
		font-size: 16px;
	}

	.tabs{
		display: none;
	}

	.show-tabs{
		display: block;
	}

	

	@media screen and (max-width: 640px) {
		.pro{
			background-image: url("./img/hero.jpg");
			background-repeat: no-repeat;
			min-height: 400px;
			position: relative;
			background-position: center;
			background-size: cover;
			/* background-color: rgba(0, 0, 0, 0.6);
			background-blend-mode: multiply; */
		}

		.active-tabs{
			background-color: #FBAD30;
			border-radius: 100px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-weight: 500;
			font-size: 12px;
		}
	
		.tab{
			padding-left: 10px;
			padding-right: 10px;
			font-weight: 500;
			font-size: 12px;
		}

	  }

    

}